.brand-section__container {
    gap      : 16px;
    width    : 320px;
    overflow : hidden;
}
.brand-section {
    display         : flex;
    justify-content : center;
}
.swiper__container {
}
.swiper__container-wrapper {
    display             : flex;
    flex-wrap           : nowrap;
    /*position            : relative;*/
    /*width               : 100%;*/
    /*height              : 100%;*/
    /*z-index             : 1;*/
    /*justify-content : initial;*/
    transition-property : transform;
    box-sizing          : border-box;
}
.swiper__container-slide {
    /*width       : 100%;*/
    margin : 0;
    /*flex-shrink : 0;*/
}
.swiper__container {
    width   : 320px;
    padding : 16px;
}
.swiper {
    display        : flex;
    flex-direction : column;
}
.swiper__pagination {
    width           : 280px;
    left            : 25px;
    position        : relative;
    display         : flex;
    justify-content : center;
    gap             : 10px;
    transition      : .3s opacity;
    z-index         : 100;
}
button.swiper-pagination-bullet {
    border             : none;
    margin             : 0;
    padding            : 0;
    box-shadow         : none;
    -webkit-appearance : none;
    -moz-appearance    : none;
    appearance         : none
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor : pointer
}
.swiper-pagination-bullet {
    width         : 12px;
    height        : 12px;
    display       : inline-block;
    border-radius : 100%;
    background    : #DDDDDD;
    opacity       : .2
}
.swiper-pagination-bullet-active {
    opacity    : 1;
    background : #d6d6d6;
}
.brand-section__title {
    font       : inherit;
    background : linear-gradient(to right, #f8f8f8, #ffffff);
    color      : #7E7E82;
    padding    : 16px;
}
.swiper__container-button {
    background-color : #FFFFFF;
    display          : flex;
    width            : 224px;
    height           : 72px;
    border           : 1px solid #EAEAEA;
    border-radius    : 6px;
    padding          : 16px;
    box-sizing       : border-box;
    justify-content  : space-between;
    align-items      : center;
}
.swiper__container-button:hover {
    background-color    : #dddee6;
    transition-duration : 0.3s;
}
@media (min-width : 768px) and (max-width : 1119px) {
    .card {
        width : auto;
    }
    .brand-section__container {
        width        : 768px;
        padding-left : 0;
    }
    .swiper__pagination {
        display : none;
    }
    .swiper__container {
        width   : auto;
        padding : 24px;
    }
    .swiper__container-wrapper {
        justify-content : space-between;
        flex-wrap       : wrap;
        width           : 100%;
        gap             : 16px;
        height          : 170px;
        overflow        : hidden;
        transition      : height 500ms;
    }
    .swiper__container-wrapper__height-auto {
        height     : 336px;
        transition : height 500ms;
    }
    .showmore-btn {
        display  : block;
        position : relative;
        left     : 24px;
        top      : -24px;
    }
    .showmore-btn__hide {
        display  : block;
        position : relative;
        left     : 24px;
        top      : -24px;
    }
    .brand-section__title {
        padding-left : 24px;
    }
}
@media (min-width : 1120px) {
    .swiper-pagination {
        display : none;
    }
    .card {
        width : auto;
    }
    .brand-section__container {
        width : 1120px;
    }
    .swiper__pagination {
        display : none;
    }
    .swiper__container {
        width   : auto;
        padding : 32px;
    }
    .swiper__container-wrapper {
        justify-content     : space-between;
        flex-wrap           : wrap;
        width               : auto;
        gap                 : 16px;
        height              : 170px;
        overflow            : hidden;
        transition-duration : 500ms;
        transition-property : height
    }
    .swiper__container-wrapper__height-auto {
        height              : 248px;
        transition-duration : 500ms;
        transition-property : height;
    }
    .showmore-btn {
        display  : block;
        left     : 32px;
        top      : -32px;
        position : relative;
    }
    .showmore-btn__hide {
        display  : block;
        left     : 32px;
        top      : -32px;
        position : relative;
    }
    .brand-section__title {
        padding-left : 32px;
    }
    .swiper__container-button {
        width : 240px;
    }
}
