@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
    url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-Regular.woff') format('woff'),
    url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
    url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-Bold.woff') format('woff'),
    url('fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
    url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-Medium.woff') format('woff'),
    url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'TT Lakes', "Arial", sans-serif;
    background-color: #F8F8F8;
}

.container {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 320px;
    box-sizing: border-box;

}

.head {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.header {
    background-color: white;
    height: 88px;

    display: flex;
    border-bottom: 1px solid #D9FFF5;

}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;

}

.button {
    display: flex;
}

.nav-header__left {
    display: flex;
    align-items: center;
    padding-left: 16px;


}

.nav-header__right {
    display: flex;
    align-items: center;
    padding-right: 16px;
}


.nav-header__right--menu {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-header__left--menu {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-desktop {
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding-top: 42px;
}

.nav-header__logo {
    background-image: url("img/logo.svg?raw=true");
    width: 98px;
    height: 51px;
    background-repeat: no-repeat;
    display: flex;
}

.nav-header__right--menu .button:nth-child(-n+3) {
    display: none;
}

.nav-header__right--menu .button:nth-child(4)::before {
    content: " ";
    position: relative;
    display: block;
    width: 2px;
    height: 32px;
    border-right: 2px solid #EAEAEA;
    left: -20px;
    top: 5px;
}

button {
    cursor: pointer;
}

.icon {
    display: flex;
    background-color: #FF3E79;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border-width: 0;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: #F8F8F8;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /*gap: 20px;*/
    padding-top: 20px;
}

.mission {
    display: flex;
    font-size: 28px;
    letter-spacing: -0.6px;
    font-family: "TT Lakes", "Arial", sans-serif;
    font-weight: 700;
    padding-left: 10px;
}

.mission::before {
    content: " ";
    position: relative;
    left: -10px;
    top: -2px;
    display: block;
    width: 0;
    height: 40px;
    border-right: 4px solid #41F6D7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav__list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.nav__link,
.nav__link.text:active,
.nav__link.text:hover {
    text-decoration: none;
    color: #7E7E82;
}

.nav {
    padding-left: 12px
}

.nav__item {
    color: #424242;
    display: flex;
    padding: 8px 16px;
    text-decoration: none;
    border: 2px solid #F8F8F8;
    border-radius: 6px;
}

.nav__item:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
}

.nav__list::-webkit-scrollbar {
    display: none;
}

.content {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.arrow-block__button {
    font-family: 'TT Lakes', "Arial", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.2px;
    border-width: 0;
    background-color: #F8F8F8;
    padding-left: 32px;
}

.arrow-block__button::before {
    content: " ";
    position: relative;
    top: 17px;
    right: 24px;
    display: block;
    width: 8px;
    height: 11px;
    background-image: url("img/arrows.svg?raw=true");
    background-size: 8px 11px;
    background-repeat: no-repeat;
}

.content__left-column {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    padding-left: 16px;
}

.content__block-text {

    display: flex;
    flex-direction: column;
    width: 288px;
    height: 90px;
    font-size: 14px;
    overflow: hidden;
    gap: 31px;
}

.content__text {
    font-family: 'TT Lakes', "Arial", sans-serif;
    font-weight: normal;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;

}

.logo-container {
    display: flex;

    width: 320px;
    height: 230px;

}

.logo-container__img {
    width: 100%;
}

.header__left-column {
    display: flex;
}

.header__right-column {
    display: flex;
}

.header__right-menu {
    display: flex;
    gap: 16px;
}

.header-desktop__menu {
    display: none;
}

.header-desktop {
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) and (max-width: 1119px) {
    .container {
        width: 769px;
    }

    .nav-header__right--menu .button:nth-child(-n+3) {
        display: flex;
    }

    .nav-header__right--menu .button:nth-child(3) {
        padding-right: 22px;
    }

    .nav-header__right {
        padding-right: 24px;
    }

    .nav-header__left {
        padding-left: 24px;
    }

    .nav-header__left--menu {
        gap: 44px;
    }

    .nav-header__left--menu .button:first-child::after {
        content: " ";
        position: relative;
        display: block;
        width: 2px;
        height: 32px;
        border-right: 2px solid #EAEAEA;
        left: 20px;
        top: 5px;
    }


    .mission {
        padding-left: 20px;
    }

    .mission::before {
        left: -20px;
    }

    .nav {
        padding-left: 24px
    }

    .content__block-text {
        width: 312px;
        height: 160px;
    }

    .logo-container {
        width: 360px;
        height: 208px;
    }

    .logo-container__img {

        margin: 0;
        border-radius: 10px;
    }

    .content {
        flex-direction: row;
        gap: 48px;
    }

    .content__left-column {
        /*margin-left: -20px;*/
        padding-left: 24px;
    }

    .header__logo::before {
        left: -24px;
    }
}

@media (min-width: 1120px) {
    .container {
        width: 1120px;

    }

    .mission {
        padding-left: 33px;
    }

    .mission::before {
        left: -33px;
        /*border-top-right-radius: 5px%;*/
        border-radius: 5px;
    }

    .header {
        display: none;
    }

    .header-desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #F8F8F8;
        padding-top: 42px;
    }

    .header-desktop__menu {
        display: flex;
        /*height: 60px;*/
        justify-content: flex-end;
        /*align-items: flex-end;*/
        gap: 50px;
        padding-right: 32px;
    }

    .header-desktop__menu-button {
        display: flex;
        align-items: center;
        gap: 10px;
        border-width: 0;
        background-color: #F8F8F8;

    }

    .header-desktop__menu .header-desktop__menu-button:first-child::after {
        content: "";
        display: flex;
        background-color: #FF3E79;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border-width: 0;
        justify-content: center;
        align-items: center;
        background-image: url("img/keys.svg?raw=true");
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position-x: 10px;
        background-position-y: 10px;
    }

    .header-desktop__menu .header-desktop__menu-button:last-child::after {
        content: "";
        display: flex;
        background-color: #FF3E79;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border-width: 0;
        justify-content: center;
        align-items: center;
        background-image: url("img/search.svg?raw=true");
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position-x: 10px;
        background-position-y: 10px;
    }

    .header-desktop__menu-text {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        background-color: #F8F8F8;
        border-width: 0;
        font-family: 'TT Lakes', "Arial", sans-serif;
        font-weight: 500;
    }

    .nav__list {
        flex-wrap: wrap;
    }

    .nav {
        padding-left: 33px;
    }

    .content__block-text {
        width: 490px;
        height: 160px;
        margin: 0;
    }

    .content {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .logo-container {
        width: 531px;
        height: 283px;
        margin: 0;
        border-radius: 10px;
    }

    .content__left-column {
        padding-left: 34px;
    }
}