@font-face {
    font-family: 'TT Lakes';
    src: url("/fonts/TTLakes-Regular.eot");
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
    url("/fonts/TTLakes-Regular.eot?#iefix") format('embedded-opentype'),
    url("/fonts/TTLakes-Regular.woff") format('woff'),
    url("/fonts/TTLakes-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
    url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-Bold.woff') format('woff'),
    url('fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
    url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-Medium.woff') format('woff'),
    url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'TT Lakes', "Arial", sans-serif;
    background-color: #F8F8F8;
}

.body {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 320px;
    box-sizing: border-box;
    gap: 20px;
}

.header {
    background-color: white;
    height: 88px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #D9FFF5;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.header-desktop {
    display: flex;
}

.header__logo {
    background-image: url("https://github.com/BITMMB/T3000/blob/master/img/logo.svg?raw=true");
    width: 98px;
    height: 51px;
}

.header__logo::before {
    content: " ";
    position: relative;
    background-image: url("https://github.com/BITMMB/T3000/blob/master/img/border.svg?raw=true");
    background-repeat: no-repeat;
    display: block;
    width: 2px;
    height: 32px;
    left: 118px;
    bottom: -10px;
}

.header__left-menu {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-around;
}

.header__medium-menu {
    display: none;
}

.header__right-menu {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.header__right-menu--hidden {
    display: none;
}

button {
    cursor: pointer;
}

.header__button {
    display: flex;
    background-color: #FF3E79;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    border-width: 0;
}

.header__button--icon {
    margin: auto
}

.header-desktop__menu {
    display: none;
}

main {
    background-color: #F8F8F8;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 20px;
}

.h1 {
    display: flex;
    width: 288px;
    font-size: 28px;
    letter-spacing: -0.6px;
    font-family: "TT Lakes", "Arial", sans-serif;
    font-weight: 700;
    padding-left: 10px;
}

.h1::before {
    content: " ";
    position: relative;
    left: -10px;
    top:-5px;
    display: block;
    width: 4px;
    height: 40px;
    background-image: url("https://github.com/BITMMB/T3000/blob/master/img/highlight.svg?raw=true");
    background-repeat: no-repeat;
}


.nav-scroller__items {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.nav-scroller__a,
.nav-scroller__a.text:active,
.nav-scroller__a.text:hover {
    text-decoration: none;
    color: #7E7E82;
}

.nav-scroller {
    padding-left: 12px
}

.nav-scroller__item {
    color: #424242;
    display: flex;
    padding: 8px 16px;
    text-decoration: none;
    border: 2px solid #F8F8F8;
    border-radius: 6px;
}

.nav-scroller__item:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
}

.nav-scroller__items::-webkit-scrollbar {
    display: none;
}

.arrow-block {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.arrow-block__button {
    font-family: 'TT Lakes', "Arial", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.2px;
    border-width: 0;
    padding: 0;
    background-color: #F8F8F8;
}

.arrow-block__button::before {
    content: " ";
    position: relative;
    top: 17px;
    right: 22px;
    display: block;
    width: 8px;
    height: 11px;
    background-image: url("https://github.com/BITMMB/T3000/blob/master/img/arrows.svg?raw=true");
    background-size: 8px 11px;
    background-repeat: no-repeat;
}

.content__left-column {
    flex-direction: column;
    display: flex;
}

.content__text {
    font-family: 'TT Lakes', "Arial", sans-serif;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 90px;
    margin-left: 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    overflow: hidden;
    gap: 31px;
}

.img-logo {

    width: 320px;
    height: 230px;
    background-repeat: no-repeat;
    margin-top: 20px;
    background-size: 100%;
}

.header__left-column {
    display: flex;
}

.header__right-column {
    display: flex;
}

.header__right-menu {
    display: flex;
    gap: 16px;
}

@media (min-width: 768px) and (max-width: 1119px) {
    .body {
        width: 769px;
    }

    .header__right-menu {
        gap: 16px;
        justify-content: space-between;
    }

    .header__right-menu--hidden {
        display: block;
    }

    .header {
        justify-content: flex-end;
    }

    .header__right-column {
        width: 50%;
        gap: 26px;
        justify-content: flex-end;
    }

    .header__left-column {
        width: 50%;
        gap: 100px;
        justify-content: space-around;
    }

    .header__left-menu {
        display: flex;
        gap: 48px;
        justify-content: space-evenly;
    }

    .header__medium-menu {
        display: flex;
        gap: 16px;
    }

    .right-menu {
        /*gap: 24px;*/
        justify-content: flex-end;
    }

    .header__logo {
        margin-left: 0;
    }

    .h1 {
        padding-left: 20px;
    }

    .h1::before {
        left: -20px;
    }

    .nav-scroller {
        padding-left: 24px
    }

    .content__text {
        width: 312px;
        height: 160px;
        margin-left: 24px;
    }

    .img-logo {
        width: 360px;
        height: 208px;
        margin: 0;
        border-radius: 10px;
    }

    .content {
        display: flex;
        justify-content: space-around;
        gap: 48px;
    }

    .h1__h1 {
        padding-left: 20px;
    }

    .content__left-column {
        margin-left: -20px;
    }

    .header__logo::before {
        left: -24px;
    }

    .header__right-menu::before {
        content: " ";
        position: relative;
        background-image: url("https://github.com/BITMMB/T3000/blob/master/img/border.svg?raw=true");
        background-repeat: no-repeat;
        display: block;
        width: 2px;
        height: 32px;
        left: -4px;
        bottom: -5px;
    }
}

@media (min-width: 1120px) {
    .body {
        width: 1120px;
    }

    .header {
        display: none;
    }

    .header-desktop {
        display: flex;
        justify-content: space-between;
    }

    .header__button {
        margin-right: 5px;
    }

    .header-desktop__menu {
        display: flex;
        width: 800px;
        height: 60px;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 40px;
    }

    .header-desktop__menu-block {
        display: flex;
        gap: 10px;
    }

    .header-desktop__menu-text {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        background-color: #F8F8F8;
        border-width: 0;
        font-family: 'TT Lakes', "Arial", sans-serif;
        font-weight: 500;
    }

    .h1 {
        align-self: flex-end;
        padding-left: 33px;
    }

    .h1::before {
        left: -33px;
    }

    .nav-scroller__items {
        flex-wrap: wrap;

    }

    .nav-scroller {
        padding-left: 33px;
    }

    .content__text {
        width: 490px;
        height: 160px;
        margin: 0;

    }

    .content {
        display: flex;
        justify-content: space-evenly;

    }

    .arrow-block {
        gap: 280px;
    }

    .img-logo {
        width: 531px;
        height: 283px;
        margin: 0;
        border-radius: 10px;
    }

    .h1::before {
        background-image: url("https://github.com/BITMMB/T3000/blob/master/img/highlight_desktop.svg?raw=true");
    }


}