$borderLine: 1px solid #d9fff5;
$textColor: #7e7e82;
.footer {
  // width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  line-height: 16px;
  color: $textColor;
  opacity: 0.72;
  padding-bottom: 19px;
  border-top: $borderLine;
  @media (min-width: 768px) and (max-width: 1440px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px;
  }
  @media (min-width: 1440px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 31px;
  }
}
.footer-text {
  text-align: center;
  @media (min-width: 768px) and (max-width: 1440px) {
    text-align: left;
    width: 218px;
  }

  @media (min-width: 1440px) {
    text-align: left;
    width: 330px;
  }
}
.footer-text:nth-child(2) {
  text-align: center;
  color: #7e7e82;
}

.footer-text:last-child {
  @media (min-width: 768px) {
    text-align: right;
  }
}
