$shwMoreColor: #f8f8f8;
///
.showmore-btn {
  font-family: 'TT Lakes', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.2px;
  border-width: 0;
  background-color: shwMoreColor;
  display: block;
  position: relative;
  left: 16px;
  @media (min-width: 768px) and (max-width: 1440px) {
    left: 24px;
    top: -14px;
  }
  @media (min-width: 1440px) {
    left: 32px;
    top: -14px;
  }
}

.content__text-box {
  .showmore-btn {
    @media (min-width: 768px) and (max-width: 1440px) {
      left: 24px;
    }
    @media (min-width: 1440px) {
      left: 24px;
    }
  }
}

.showmore-btn::before {
  content: ' ';
  position: relative;
  top: 17px;
  right: 24px;
  display: block;
  width: 8px;
  height: 11px;
  background-image: url('../img/arrows.svg');
  background-size: 8px 11px;
  background-repeat: no-repeat;
}
.showmore-btn__hide::before {
  transform: rotate(180deg);
}

.swiper__button {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.mainCloseBtn {
  @media (min-width: 1440px) {
    display: none;
  }
}
